<head>
	<!-- ビューポートの設定 -->
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<body>
<div class="my-header">
  <div class="login-title0">
    <span class="login-title">Happiness</span>
  </div>
</div>

<div class="login-login">
  <div class="login-login1">
    <h2>登録する</h2>
  </div>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, class: "original_css1", placeholder: "メールアドレス", autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :nickname %><br />
      <%= f.text_field :nickname, class: "original_css1", placeholder: "ニックネーム", autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, class: "original_css1", placeholder: "パスワード", autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, class: "original_css1", placeholder: "確認のためパスワードをもう一度お願いします", autocomplete: "off" %>
    </div>

    <div class="actions">
      <%= f.submit "登録する",class: "buttoncss_original1" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>

</div>

<div class="tutorial">
	<div class="tutorial-margin">
		<div class="tutorial0">
			<span class="character">
				<div class="character1">
				</div>
			</span>
			<span class="tutorial1">
				<h2>使い方は簡単！</h2>
			</span>
		</div>
		<div class="tutorial2">
			<span class="tutorial-num">
				1
			</span>
			<span class="tutorial-exp">
        レビューをもらう！
			</span>
		</div>
		<div class="tutorial-text">
      <p class="exp-top">レビューしてほしい項目を登録</p>
			<i class="fa fa-arrow-down fa-2x arrow"></i>
			<p class="exp-bottom">あとは待つだけ！</p>
		</div>
		<div class="tutorial2">
			<span class="tutorial-num">
				2
			</span>
			<span class="tutorial-exp">
				レビューを送る！
			</span>
		</div>
		<div class="tutorial-text">
      <p class="exp2-top">送りたい友だちを探す</p>
			<i class="fa fa-arrow-down fa-2x arrow"></i>
			<p class="exp2-bottom">項目ごとに<i class="fa fa-star"></i>５つで評価！（もちろん匿名です）</p>
		</div>
	</div>
</div>

<!-- <%= render 'shared/footer' %> -->

</body>
