<body>
  <%= render partial: 'shared/header' %>

  <div class="user-title">
    <%= current_user.nickname %>さんのマイページ
  </div>

  <div class="change-nickname">
    <div class="account-edit">
      アカウント編集
    </div>
    <div class="account-edit0">
      <div class="account-edit1">
        <%= form_for(current_user) do |f| %>
        <div class="nickname">
          <%= f.label :nickname, 'ニックネームの変更', :class => 'nickname-change' %>
          <%= f.text_field :nickname, :placeholder => "ニックネーム", :class => 'nickname-change1' %>
        </div>
        <div class="nickname1">
          <%= f.label :email, 'メールアドレスの変更', :class => 'address-change' %>
          <%= f.text_field :email, :placeholder => "メールアドレス", :class => 'nickname-change2' %>
        </div>
          <%= f.submit '変更', :class=>"nickname-btn" %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="edit-comment">
    <div class="edit-comment-1">
      〜あなたへのみんなからのコメント〜
    </div>
    <div class="edit-comment-2">
      <% current_user.messages.each do |message| %>
      <div class="past-comment-individual">
        <div class="past-comment-individual1">
          <div class="past-comment1">
            <span class="past-comment-number">
              1
            </span>
            <span class="past-comment-text">
              こういうところが優しいよ
            </span>
          </div>
          <div class="past-comment2">
            <div class="past-comment2-content">
              <%= message.body1 %>
            </div>
          </div>
          <div class="past-comment1">
            <span class="past-comment-number">
              2
            </span>
            <span class="past-comment-text">
              こういうところがすごいよ
            </span>
          </div>
          <div class="past-comment2">
            <div class="past-comment2-content">
              <%= message.body2 %>
            </div>
          </div>
          <div class="past-comment1">
            <span class="past-comment-number">
              3
            </span>
            <span class="past-comment-text">
              普段言えないありがとうを
            </span>
          </div>
          <div class="past-comment2">
            <div class="past-comment2-content">
              <%= message.body3 %>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</body>
