<head>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<body>
  <!-- <%= render partial: 'shared/header' %> -->
  <ul class="drop-menu">
    <li>
      <ul>
        <li>
          <a href="#"><%= link_to 'トップページへ', root_path, class:'toppage2' %></a>
        </li>
        <li>
          <%= link_to 'あなた宛のレビューと手紙を読む', receife_path(current_user.id), method: :get %>
        </li>
        <li>
          <%= link_to '友達をフォローする', edit_follow_path(current_user.id), method: :get %>
        </li>
        <li>
          <%= link_to 'アカウント情報の変更', edit_profile_path(current_user.id), method: :get %>
        </li>
      </ul>
    </li>
  </ul>

  <div class="user-title-edit">
    <%= current_user.nickname %>さん、こんにちは！
  </div>

  <div class="change-own-page1">
    <div class="change-own-page2">
      まずはみんなにレビューしてほしい項目を５つ登録しましょう！
    </div>

    <%= form_for(current_user) do |f| %>
    <div class="change-own-page3">
      1<%= f.text_field :ratename1, :placeholder => "たとえば：優しさ (10文字以内)", :class => 'nickname-change1' %>
    </div>
    <div class="change-own-page3">
      2<%= f.text_field :ratename2, :placeholder => "たとえば：ピュア (10文字以内)", :class => 'nickname-change1' %>
    </div>
    <div class="change-own-page3">
      3<%= f.text_field :ratename3, :placeholder => "たとえば：包容力 (10文字以内)", :class => 'nickname-change1' %>
    </div>
    <div class="change-own-page3">
      4<%= f.text_field :ratename4, :placeholder => "ご自由にどうぞ笑 (10文字以内)", :class => 'nickname-change1' %>
    </div>
    <div class="change-own-page3">
      5<%= f.text_field :ratename5, :placeholder => "ご自由にどうぞ笑 (10文字以内)", :class => 'nickname-change1' %>
    </div>
    <div class="change-own-page12">
      <i class="fa fa-check-square-o" aria-hidden="true"></i>
      レビューは何度でも更新できます！（更新すると、前にもらったレビューの平均値はリセットされます）
    </div>
    <div class="introduction1">
      <span>
        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
      </span>
      <span class="introduction2">
        つぶやき
      </span>
      <div class="introduction3">
        <%= f.text_area :introduction, :placeholder => "よろしくお願いします！", :class => 'nickname-change2' %>
      </div>
    </div>

    <%= f.submit 'これで登録！', :class=>"nickname-btn" %>
    <% end %>
  </div>

  <!-- <div class="change-nickname">
    <div class="account-edit">
      登録情報の変更
    </div>
    <div class="account-edit0">
      <div class="account-edit1">
        <%= form_for(current_user) do |f| %>
        <div class="nickname">
          <%= f.label :nickname, 'ニックネームの変更', :class => 'nickname-change' %>
          <%= f.text_field :nickname, :placeholder => "ニックネーム", :class => 'nickname-change1' %>
        </div>
        <div class="nickname1">
          <%= f.label :email, 'メールアドレスの変更', :class => 'address-change' %>
          <%= f.text_field :email, :placeholder => "メールアドレス", :class => 'nickname-change2' %>
        </div>
          <%= f.submit '変更', :class=>"nickname-btn" %>
        <% end %>
      </div>
    </div>
  </div> -->

</body>
