<head>
	<!-- ビューポートの設定 -->
	<meta name="viewport" content="width=device-width,initial-scale=1">
</head>

<body>
  <%= render partial: 'shared/header' %>

	<div class="recommend">
		<div class="recommend1">
      <p class="recommend2">最近更新したユーザー（友達を見つけたらクリックしてレビューページに進みましょう！）</p>
		</div>
    <div class="recommend3">
      <% @recommends.each do |recommend| %>
			<p class="recommend4">
				<%= link_to user_path(recommend.id), style: 'text-decoration: none;' do %>
				  <% if recommend.username.blank? %>
						<%= recommend.nickname %>さん
					<% else %>
						<%= recommend.username %>さん
					<% end %>
				<% end %>
			</p>
			<% end %>
		</div>
	</div>


	<!-- <input type=form id="form" placeholder="ユーザー名を入力してください" style="width: 250px;"/>
	<ul id="result">

  </ul> -->

	<!-- <div class="user-list">
		<div class="follow-list1">
			フォローしている友達
		</div>
		<div class="user-list1">
			<% if @follow.blank? %>
			<div class="user-list2">
			  <p>
			    フォローしている友達はいません
				</p>
				<p>
          マイページから友達をフォローしてみましょう！
				</p>
			</div>
			<% else %>
			<% @follows.each do |follow| %>
			<p>
				<%= link_to user_path(follow.id) do %>
					<%= follow.nickname %>さん
				<% end %>
			</p>
			<% end %>
			<% end %>
		</div>
	</div> -->

  <div class="user-list">
		<div class="user-all">
      <p class="recommend2">全てのユーザー</p>
		</div>
    <div class="user-list1">
      <% @users.each do |user| %>
      <% if current_user.id != user.id %>
      <p class="recommend4">
        <%= link_to user_path(user.id), style: 'text-decoration: none;' do %>
          <%= user.nickname %>さん
        <% end %>
      </p>
      <% end %>
      <% end %>
    </div>

  </div>



</body>
