<head>
	<!-- ビューポートの設定 -->
	<meta name="viewport" content="width=device-width,initial-scale=1">
</head>

<body>
  <div class="user-title">
    <p>Happiness</p>
  </div>

  <div class="user-title1">
    <p>〜心の温まるレビュー届けてみませんか？〜</p>
  </div>

  <div class="my-account">
    <%= link_to 'マイページ', edit_user_path(current_user.id), method: :get, class:'mypage' %>
  </div>

  <div class="logout">
    <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class:'logout1' %>
  </div>

  <div class="character">
    <div class="character1">
    </div>
  </div>

	<!-- <input type=form id="form" placeholder="ユーザー名を入力してください" style="width: 250px;"/>
	<ul id="result">

  </ul> -->

	<div class="user-list">
		<div class="follow-list1">
			フォローしている友達
		</div>
		<div class="user-list1">
			<% if @follow.blank? %>
			<div class="user-list2">
			  <p>
			    フォローしている友達はいません
				</p>
				<p>
          マイページから友達をフォローしてみましょう！
				</p>
			</div>
			<% else %>
			<% @follows.each do |follow| %>
			<p>
				<%= link_to user_path(follow.id) do %>
					<%= follow.nickname %>さん
				<% end %>
			</p>
			<% end %>
			<% end %>
		</div>
	</div>

  <!-- <div class="user-list">
    <div class="user-list1">
      <% @users.each do |user| %>
      <% if current_user.id != user.id %>
      <p>
        <%= link_to user_path(user.id) do %>
          <%= user.nickname %>さん
        <% end %>
      </p>
      <% end %>
      <% end %>
    </div>

  </div> -->



</body>
