.happiness_toppage
  %header.wrap
    = render "shared/header"

  %session.wrap
    .happiness_toppage_content
      .happiness_toppage_content_catch
        あなたも知らない本当の自分
        %br
        見つけませんか？
      .happiness_toppage_content_image
        = image_tag "happiness_main.png", class: 'happiness_toppage_content_image_design'
      .happiness_toppage_content_white
        .happiness_toppage_content_intro
          .happiness_toppage_content_manual_title_first
            %span.happiness_toppage_content_manual_title_image
              = image_tag "happiness_heart.png"
            %span.happiness_toppage_content_manual_title_text
              About …
          .happiness_toppage_content_intro_text
            ともだちや家族に自分の長所について聞いてみると、自分では気づいていない自分が発見できた…みたいな経験はありませんか？
            Happinessはこれを簡単に行えるサービスです。
        .happiness_toppage_content_manual
          .happiness_toppage_content_manual_title
            %span.happiness_toppage_content_manual_title_image
              = image_tag "happiness_heart.png"
            %span.happiness_toppage_content_manual_title_text
              How To Use …
          .happiness_toppage_content_manual_first
            ①ログインすると、Twitterでフォローしている人が一覧で表示されるので、もっと仲良くなりたい人をリストへ入れてください（リストの中身が公開されることはありません）
          .happiness_toppage_content_manual_first_image
          .happiness_toppage_content_manual_second
            ②相手の方もあなたのことをリストに入れた場合のみ、マッチしたことをお知らせします。これをきっかけにLINEやDMを送りましょう！
          .happiness_toppage_content_manual_second_image
    .happiness_toppage_login_section
      .happiness_toppage_login_section_twitter
        = link_to '/users/auth/twitter' do
          .happiness_toppage_login_section_twitter_text
            Twitterで登録 / ログイン

    = render "shared/footer"

= javascript_include_tag "happiness.js"
