<head>
	<!-- ビューポートの設定 -->
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<script src="https://code.jquery.com/jquery-3.2.1.min.js" type="text/javascript"></script>
</head>

<body>
  <header>
		<div class="container">
			<span class="fa fa-bars fa-2x menu-icon" id="bar">
			  <div class="header-right">
					<i class="fa fa-times-circle x-mark" id="mark"></i>
					<ul class="header-right1">
						<li class="my-account">
		          <%= link_to 'あなた宛のレビュー', receife_path(current_user.id), method: :get, class:'logout1', style:'color: black;' %>
		        </li>
						<li class="my-account">
		          <%= link_to 'アカウント情報の変更', edit_profile_path(current_user.id), method: :get, class:'logout1', style:'color: black;' %>
		        </li>
					  <li class="my-account">
					    <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class:'logout1', style:'color: black;' %>
					  </li>
					</ul>
				</div>
			</span>
	  </div>
	</header>

	<% if current_user.sign_in_count == 1 %>
	<div class="change-own-toppage1" id="top">
    <div class="change-own-page2">
      まずはみんなにレビューしてほしい項目を５つ登録しましょう！
    </div>

    <%= form_for(current_user) do |f| %>
    <div class="change-own-page3">
      1<%= f.text_field :ratename1, :placeholder => "たとえば：優しさ (10文字以内)", :class => 'nickname-change1' %>
    </div>
    <div class="change-own-page3">
      2<%= f.text_field :ratename2, :placeholder => "たとえば：ピュア (10文字以内)", :class => 'nickname-change1' %>
    </div>
    <div class="change-own-page3">
      3<%= f.text_field :ratename3, :placeholder => "たとえば：包容力 (10文字以内)", :class => 'nickname-change1' %>
    </div>
    <div class="change-own-page3">
      4<%= f.text_field :ratename4, :placeholder => "ご自由にどうぞ笑 (10文字以内)", :class => 'nickname-change1' %>
    </div>
    <div class="change-own-page3">
      5<%= f.text_field :ratename5, :placeholder => "ご自由にどうぞ笑 (10文字以内)", :class => 'nickname-change1' %>
    </div>
    <div class="change-own-page12">
      <i class="fa fa-check-square-o" aria-hidden="true"></i>
      レビューは何度でも更新できます！（更新すると、前にもらったレビューの平均値はリセットされます）
    </div>
    <div class="introduction1">
      <span>
        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
      </span>
      <span class="introduction2">
        つぶやき
      </span>
      <div class="introduction3">
        <%= f.text_area :introduction, :placeholder => "よろしくお願いします！", :class => 'nickname-change2' %>
      </div>
    </div>

    <%= f.submit 'これで登録！', :class=>"nickname-btn" %>
    <% end %>
  </div>
	<script type="text/javascript">
   $(function(){
      // ▼マウスが載ったらサブメニューを表示
      $("#bar").mouseover(function(){
				 $("#top").hide();
         $(this).find(".header-right").fadeIn();     // 自分のサブメニューを表示する。
      });
      // ▼どこかがクリックされたらサブメニューを消す
      $('html, #mark').click(function() {
				 $("#top").show(150);
         $('.menu-icon').find(".header-right").slideUp(150);
      });
   });
  </script>
	<% else %>
  <div class="user-title-toppage" id="title">
    <span class="English">Happiness</span><span class="Japanese0">へ</span>
    <p class="Japanese">ようこそ！</p>
  </div>

	<div class="summary" id="summary">
    <p class="summary1">Happinessはユーザーが登録した自分の気になる性格、能力などについて友達から星マークでレビューを受けられるサービスです。（匿名です）</p>
		<p class="summary2">まずは「友達をレビューする」か「レビュー項目の登録」を選んでください。</p>
	</div>

  <div class="choose" id="button">
		<div class="choose-left">
			<div class="choose-button">
        <%= link_to "友達をレビューする", users_path, class:'choose-button10', style:'color: white;' %>
      </div>
		</div>
		<div class="choose-right">
      <div class="choose-button">
        <%= link_to "レビュー項目の登録", edit_user_path(current_user.id), class:'choose-button1', style:'color: white;' %>
      </div>
		</div>
	</div>

  <div class="my-review-show0">
		<div class="my-review-show1">
			友達からもらったレビューを見る場合は下の「レビューを見る」を選んでください。
		</div>
		<div class="choose-center">
      <div class="choose-center1">
        <%= link_to "レビューを見る", receife_path(current_user.id), class:'choose-button1', style:'color: white;' %>
      </div>
		</div>
	</div>
	<% end %>

	<div class="ad1">
		<!-- admax -->
		<script src="//adm.shinobi.jp/s/044b63c8574405f660d632bdaa2b69a5"></script>
		<!-- admax -->

	</div>

	<script type="text/javascript">
   $(function(){
      // ▼マウスが載ったらサブメニューを表示
      $("#bar").mouseover(function(){
				 $("#title").hide();
				 $("#summary").hide();
         $("#button").hide();
         $(this).find(".header-right").fadeIn();     // 自分のサブメニューを表示する。
      });
      // ▼どこかがクリックされたらサブメニューを消す
      $('html, #mark').click(function() {
				 $("#title").show(150);
				 $("#summary").show(150);
				 $("#button").show(150);
         $('.menu-icon').find(".header-right").slideUp(150);
      });
   });
  </script>



</body>
