<!DOCTYPE html>
<html>
  <head>
    <title>Happiness</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= javascript_include_tag 'application'%>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    
    <meta name="twitter:card" content=<%="summary"%> />
    <meta name="twitter:site" content=<%="@happi_warm"%> />
    <meta property="og:url" content=<%="http://happiness-warm.com/"%> />
    <meta property="og:title" content=<%="Happiness"%> />
    <meta property="og:description" content=<%="5段階の星で友だちをレビューしよう"%> />
    <meta property="og:image" content=<%="asset_url('happiness-icon.png')"%> />
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <!-- <div class="header">

      <div class="toppage-header-btn">
        <%= link_to ".........", root_path %>
      </div>

      <div class="tab">
        <i class="fa fa-bars tab-bar"></i>
      </div>
      <div class="notification">
        <i class="fa fa-bell notice"></i>
      </div>
    </div> -->
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>">
        <%= value %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
