<!DOCTYPE html>
<html>
  <head>
    <title>Happiness</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= javascript_include_tag 'application'%>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@happi_warm" />
    <meta property="og:url" content="http://happiness-warm.com/" />
    <meta property="og:title" content="Happiness" />
    <meta property="og:description" content="5段階の星で友だちをレビューしよう" />
    <meta property="og:image" content="<%= asset_url('happiness-icon.png') %>" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-5485294426707826",
        enable_page_level_ads: true
      });
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-119404548-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-119404548-1');
    </script>
  </head>

  <body>
    <!-- <div class="header">

      <div class="toppage-header-btn">
        <%= link_to ".........", root_path %>
      </div>

      <div class="tab">
        <i class="fa fa-bars tab-bar"></i>
      </div>
      <div class="notification">
        <i class="fa fa-bell notice"></i>
      </div>
    </div> -->
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>">
        <%= value %>
      </div>
    <% end %>
    <%= yield %>

    <footer>
      <!-- admax -->
      <script src="//adm.shinobi.jp/s/044b63c8574405f660d632bdaa2b69a5"></script>
      <!-- admax -->
    </footer>
  </body>
</html>
